:root {
  --bg-dark: hsl(0, 0%, 6%);
  --bg: hsl(0, 0%, 11%);
  --bg-light: hsl(0, 0%, 17%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);
  --border: hsl(0 0 30%);

  /* tags */
  --tag1: #1e3356;
  --tag1-font: hsl(217, 91%, 60%);
  --tag2: #164728;
  --tag2-font: hsl(142, 71%, 45%);
  --tag3: #3f2657;
  --tag3-font: hsl(271, 91%, 65%);
  --tag4: #542121;
  --tag4-font: hsl(0, 84%, 60%);
  --tag5: #53420e;
  --tag5-font: hsl(45, 93%, 47%);
}
