:root {
  --bg-dark: hsl(0, 0%, 6%);
  --bg: hsl(0, 0%, 11%);
  --bg-light: hsl(0, 0%, 17%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);
  --border: hsl(0 0 30%);

  /* tags */
  --tag1: hsl(217, 91%, 60%);
  --tag2: hsl(142, 71%, 45%);
  --tag3: hsl(271, 91%, 65%);
  --tag4: hsl(0, 84%, 60%);
  --tag5: hsl(45, 93%, 47%);
}
