#main {
  display: flex;
  min-height: 100dvh;
  justify-content: space-between;
}
.profile {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 6rem 3rem 8rem;
  flex-direction: column;
  position: sticky;
  top: 0;
  right: 0;
  align-self: flex-start;
}
.content {
  flex: 1;
  padding: 3rem 1rem 3rem 3rem;
  border-left: 1px solid var(--border);
}

@media (max-width: 767px) {
  .profile {
    border: unset;
    padding: 3rem 1rem 3rem 1rem;
    position: static;
    justify-content: center;
    width: 100%;
  }
  .content {
    border: unset;
    border-top: 1px solid var(--border);
    padding: 3rem 1rem 3rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .profile {
    border: unset;
    padding: 3rem 1rem 3rem 1rem;
  }
}
